@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


:root  {
  --background: 174 1% 95%;
  --foreground: 174 1% 0%;
  --card: 174 1% 90%;
  --card-foreground: 174 1% 10%;
  --popover: 174 1% 95%;
  --popover-foreground: 174 95% 0%;
  --primary: 174 51.4% 42.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 174 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 136 10% 85%;
  --muted-foreground: 174 1% 35%;
  --accent: 136 10% 80%;
  --accent-foreground: 174 1% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 174 1% 90%;
  --border: 174 20% 50%;
  --input: 174 20% 18%;
  --ring: 174 51.4% 42.7%;
  --radius: 0.4rem;
}
.dark  {
  --background: 174 10% 5%;
  --foreground: 174 1% 90%;
  --card: 174 1% 0%;
  --card-foreground: 174 1% 90%;
  --popover: 174 10% 5%;
  --popover-foreground: 174 1% 90%;
  --primary: 174 51.4% 42.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 174 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 136 10% 15%;
  --muted-foreground: 174 1% 60%;
  --accent: 136 10% 15%;
  --accent-foreground: 174 1% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 174 1% 90%;
  --border: 174 20% 18%;
  --input: 174 20% 18%;
  --ring: 174 51.4% 42.7%;
  --radius: 0.4rem;
}

